.custom-input {
  position: relative;
  width: 100%;

  input {
    min-height: 64px;
    padding: 22px 30px;
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba($elephant, 0.5);
      font-family: inherit;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    &:hover {
      outline: 1px solid $navy-blue;
    }

    &:hover::placeholder {
      color: rgba($navy-blue, 1);
    }

    &:active,
    &:focus {
      outline: 1px solid #1c3374;
    }

    &:active::placeholder,
    &:focus::placeholder,
    &:disabled::placeholder {
      color: $color-transparent;
    }
  }

  &.is-invalid {
    input {
      outline: 2px solid $color-error;

      &:focus,
      &:hover {
        outline: 2px solid rgba($color-error, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      outline: 2px solid $color-success;

      &:focus,
      &:hover {
        outline: 2px solid rgba($color-success, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    top: 0;
    left: 0;

    &.is-invalid {
      color: $color-error;
    }

    &.is-valid {
      color: $color-success;
    }
  }
}
