.footer {
  position: relative;
}

.footer::before {
  position: absolute;
  content: "";
  background-color: rgba($elephant, 0.2);
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 32px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;

  @include vp-1199 {
    padding: 45px 0 35px;
    width: 678px;
    gap: 13px;
  }

  @include vp-767 {
    width: 100%;
    justify-content: start;
    padding: 32px 0 26px;
    gap: 14px;
  }
}

.footer__nav.main-nav {
  grid-template-columns: 17.5% auto 17.5%;

  @include vp-1199 {
    grid-template-columns: 118px auto;
    column-gap: 77px;
  }

  @include vp-767 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
}

.footer__nav nav {
  @include vp-1199 {
    width: 100%;
  }
}

.footer__nav.main-nav .main-nav__list {
  padding-top: 19px;
  gap: 5px 3%;
  max-width: 700px;

  @include vp-1199 {
    padding-top: 3px;
    gap: 9px;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    grid-template-columns: repeat(2, 48%);
    gap: 5px 12px;
  }
}

.footer__nav .main-nav__item {
  @include vp-767 {
    justify-self: start;
  }
}

.main-nav__item--tours {
  @include vp-767 {
    order: -5;
  }
}

.main-nav__item--training {
  @include vp-767 {
    order: -3;
  }
}

.main-nav__item--about {
  @include vp-767 {
    order: -1;
  }
}

.main-nav__item--reviews {
  @include vp-767 {
    order: -4;
  }
}

.main-nav__item--photos {
  @include vp-767 {
    order: -2;
  }
}

.main-nav__item--contacts {
  @include vp-767 {
    order: -1;
  }
}

.footer__nav .main-nav__phone {
  padding-top: 21px;

  @include vp-1199 {
    display: none;
  }
}

.footer__nav .main-nav__logo {
  @include vp-767 {
    padding-left: 4px;
  }
}

.footer__nav img {
  @include vp-1199 {
    width: 118px;
    height: 34px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.footer__nav .main-nav__link {
  &:hover:not(:disabled)::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $elephant;
  }

  &:focus:not(:disabled) {
    outline: 1px solid $elephant;
  }

  &:active:not(:disabled) {
    outline: none;
  }

  &:active:not(:disabled)::after {
    display: none;
  }

  &:disabled:not(:focus) {
    opacity: 0.5;
  }

  @include vp-1199 {
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}

.footer__social ul {
  margin: 4px auto 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;

  @include vp-1199 {
    margin-top: 24px;
  }

  @include vp-767 {
    margin: 8px 0 0 5px;
    justify-content: start;
  }
}

.footer__social li {
  position: relative;
  width: 30px;
  height: 30px;
}

.footer__social a {
  display: block;
  width: 30px;
  padding: 15px;
  outline: 1px solid rgba($elephant, 0.3);

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    fill: $elephant;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    outline: 1px solid rgba($elephant, 1);
  }

  &:active:not(:disabled) {
    outline: none;
    background-color: $navy-blue;
  }

  &:active:not(:disabled) svg {
    fill: $color-default-white;
  }

  &:disabled:not(:focus) {
    opacity: 0.3;
  }
}

.footer__copyright {
  margin: 0 auto;

  @include vp-767 {
    margin: 0;
    justify-content: start;
  }
}

.footer__copyright a {
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  outline: none;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: #1c3374;
  }

  &:active:not(:disabled) {
    color: $navy-blue;
  }

  &:disabled:not(:focus) {
    opacity: 0.1;
  }
}
