.header {
  position: relative;
  background-color: #70a1da;
  min-height: 800px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: $overlay-hero;
  }

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.header__background {
  display: none;

  &.background-active {
    display: block;
    
  }
  @include vp-1199 {
    // height: 85%;
  }

  @include vp-767 {
    // height: 77.6%;
  }
}

.header__background img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #70a1da;
}

.header .container {
  @include vp-1199 {
    padding: 0;
  }
}

.header__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 80px;
  position: relative;
  z-index: 1;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.header__wrapper::after {
  @include vp-1199 {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $overlay-burger-menu;
    display: none;
  }
}

.header__nav a {
  color: $color-default-white;
  cursor: pointer;
}


.header__nav.main-nav {
  @include vp-1199 {
    // width: 678px;
    grid-template-columns: repeat(3, 33.33%);
    gap: 50px 0;
    padding: 30px 45px 70px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 50%);
    padding: 15px 15px 50px;
    gap: 10px 0;
  }
}

.header__nav .main-nav__logo {
  @include vp-1199 {
    margin: 0 auto;
    grid-column: 2;
  }

  @include vp-767 {
    margin: 0;
    justify-self: end;
  }
}

.header__nav .main-nav__logo img {
  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.header__nav .main-nav__list {
  @include vp-1199 {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    grid-row: 3;
  }
}

.header__nav .main-nav__list a {
  &:hover:not(:disabled)::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $color-default-white;
  }

  &:focus:not(:disabled) {
    outline: 1px solid $color-default-white;
  }

  &:active:not(:disabled) {
    outline: none;
  }

  &:active:not(:disabled)::after {
    display: none;
  }

  &:disabled:not(:focus) {
    opacity: 0.5;
  }
}
