.reviews__wrapper {
  position: relative;
  padding: 0 0 113px 110px;

  @include vp-1199 {
    padding: 0 0 64px 35px;
  }

  @include vp-767 {
    padding: 0 15px 60px;
  }
}

.reviews__wrapper h3 {
  margin: 60px 0 18px 0;
  padding-left: 10px;
  color: inherit;

  @include vp-1199 {
    margin: 0 0 18px 0;
  }
}

.reviews__wrapper b {
  position: absolute;
  top: -15px;
  left: 120px;

  @include vp-1199 {
    left: 45px;
  }
}

.reviews__swiper .swiper-wrapper {
  padding: 10px;
}

.reviews__card {
  background-color: $color-default-white;
  height: 293px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  padding: 19px 40px 19px 20px;
  display: grid;
  grid-template-columns: 34.8% 61.2%;
  gap: 4%;
  overflow: auto;

  @include vp-1199 {
    padding: 19px 30px 19px 20px;
    grid-template-columns: 36.5% 57.5%;
    gap: 6%;
    height: 277px;
  }

  @include vp-767 {
    width: 100%;
    height: 466px;
    display: flex;
    flex-direction: column;
  }
}

.reviews__img img {
  background-color: #bacad3;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.reviews__text {
  display: flex;
  flex-direction: column;
}

.reviews__text p {
  margin: 13px 0 0 0;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  @include vp-1199 {
    margin: 3px 0 7px 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.reviews__text h4 {
  display: block;
  margin: auto 0 8px 0;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;

  @include vp-1199 {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: normal;
  }

  @include vp-767 {
    line-height: 12px;
  }
}

.reviews__text span {
  margin-bottom: 16px;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;

  @include vp-1199 {
    margin-bottom: 5px;
  }
}

.reviews__toggle {
  position: absolute;
  top: -13px;
}

.reviews-toggle-prev {
  right: 161px;

  @include vp-1199 {
    right: 82px;
  }

  @include vp-767 {
    right: 52px;
  }
}

.reviews-toggle-next {
  right: 120px;

  @include vp-1199 {
    right: 40px;
  }

  @include vp-767 {
    right: 10px;
  }
}
