.reviews__wrapper {
  position: relative;
  padding: 0 0 113px 110px;

  @include vp-1199 {
    padding: 0 0 64px 35px;
  }

  @include vp-767 {
    padding: 0 5px 5px;
  }
}

.reviews__wrapper h3 {
  margin: 29px 0 18px 0;
  padding-left: 10px;
  color: inherit;

  @include vp-1199 {
    margin: 0 0 18px 0;
  }

  @include vp-767 {
    margin: -1px 0 12px 0;
  }
}

.reviews__wrapper b {
  position: absolute;
  top: -15px;
  left: 120px;

  @include vp-1199 {
    left: 45px;
  }

  @include vp-767 {
    top: -5px;
    left: 15px;
  }
}

.reviews__swiper .swiper-wrapper {
  padding: 10px;
  height: auto;

  @include vp-767 {
    height: 100%;
  }
}

.reviews__swiper .swiper-slide {
  height: auto;
}

.reviews__card {
  height: 100%;
  background-color: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  padding: 19px 40px 19px 20px;
  display: grid;
  grid-template-columns: 35.4% auto;
  gap: 4.2%;

  @include vp-1199 {
    padding: 19px 30px 19px 20px;
    grid-template-columns: 36.4% auto;
    gap: 6%;
  }

  @include vp-767 {
    height: auto;
    padding: 19px 19.5px 19px 19.5px;
    margin: 10px 0;
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.reviews__img {
  @include vp-767 {
    margin-bottom: 18px;
  }
}

.reviews__img img {
  background-color: #bacad3;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.reviews__text {
  display: flex;
  flex-direction: column;
}

.reviews__text p:first-child {
  margin-top: 13px;

  @include vp-1199 {
    margin-top: 3px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.reviews__text p {
  margin: 0 0 13px 0;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  @include vp-1199 {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 18px;
  }

  @include vp-767 {
    margin: 0 0 9px 0;
  }
}

.reviews__text h4 {
  display: block;
  margin: auto 0 8px 0;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;

  @include vp-1199 {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: normal;
  }

  @include vp-767 {
    margin-top: 8px;
    line-height: 12px;
  }
}

.reviews__text span {
  margin-bottom: 16px;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;

  @include vp-1199 {
    margin-bottom: 3px;
  }
}

.reviews__toggle {
  position: absolute;
}

.reviews-toggle-prev {
  top: -13px;
  right: 161px;

  @include vp-1199 {
    top: -15px;
    right: 86px;
  }

  @include vp-767 {
    top: -11px;
    right: 56px;
  }
}

.reviews-toggle-next {
  top: -13px;
  right: 120px;

  @include vp-1199 {
    top: -15px;
    right: 45px;
  }

  @include vp-767 {
    top: -11px;
    right: 15px;
  }
}
