.tours {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.tours__wrapper {
  padding: 68px 0 100px;

  @include vp-1199 {
    padding: 73px 0 0 0;
  }

  @include vp-767 {
    padding-top: 52px;
  }
}

.tours__swiper h3 {
  margin: 0 0 53px 0;
  padding: 0 0 0 1px;
  color: inherit;

  @include vp-1199 {
    margin: 0 0 43px -7px;
  }

  @include vp-767 {
    margin: 0 0 27px 0;
    max-width: 50%;
  }
}

.tours__swiper b {
  position: absolute;
  top: 36px;
  left: 0;

  @include vp-1199 {
    top: 1px;
  }

  @include vp-767 {
    top: 10px;
  }
}

.tours__swiper {
  padding-top: 55px;
  position: relative;
  overflow: hidden;

  @include vp-1199 {
    padding: 15px 6px 0;
  }

  @include vp-767 {
    padding: 15px 0 0 0;
  }
}

.tours__swiper .swiper-slide {
  height: auto;

  @include vp-767 {
    height: 100%;
  }
}

.tours__card {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  background-color: #5ea3a3;
  display: flex;
  flex-direction: column;
  justify-content: end;

  @include vp-1199 {
    padding: 20px 20px 21px 20px;
  }

  @include vp-767 {
    padding: 20px 20px 19px 20px;
  }
}

.tours__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tours__img img {
  background-color: #5ea3a3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours__card::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $overlay-tours;
}

.tours__text {
  padding-top: 55%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding-top: 65.4%;
  }

  @include vp-767 {
    padding-top: 69%;
  }
}

.tours__text h4 {
  margin: 24px 0 37px 0;
  color: $color-default-white;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  position: relative;

  @include vp-1199 {
    margin: 24px 0 37px 0;
  }

  @include vp-767 {
    margin: 14px 0 30px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

.tours__text h4::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: rgba($color-default-white, 0.2);
  bottom: -16px;
  left: 0;
}

.tours__info {
  width: 100%;
  display: grid;
  grid-template-columns: 32% 33% 35%;
  gap: 0;
  order: -1;

  @include vp-767 {
    width: 70%;
    grid-template-columns: 53% 40%;
    justify-content: start;
    gap: 10px;
  }
}

.tours__info--altai {
  gap: 1px;
}

.tours__info--caucasus {
  @include vp-1199 {
    grid-template-columns: 34% 32% 33%;
    gap: 3px;
  }

  @include vp-767 {
    grid-template-columns: 53% 40%;;
    gap: 9px 11px;
  }
}

.tours__info h5 {
  margin: 0;
  padding-left: 33px;
  color: $color-default-white;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-align: center;

  @include vp-1199 {
    padding-left: 20px;
  }
}

.tours__info .pin h5 {
  padding-left: 12px;
}

.tours__info li {
  display: flex;
  justify-content: end;
  position: relative;
}

.tours__info li.sun {
  @include vp-767 {
    justify-self: start;
    transform: translateX(5px);
  }
}

.tours__info:not(.tours__info--altai) li {
  padding: 9px 8px;
}

.tours__info--altai li {
  padding: 9px 0;
}

.tours__info svg {
  position: absolute;
  top: 5px;
  right: 56px;

  @include vp-1199 {
    right: 56px;
  }
}

.tours__info svg.moon {
  right: 64px;
}

.tours__info li.pin svg {
  top: 10px;
  right: 70%;

  @include vp-1199 {
    right: 75%;
  }
}

.tours__info li.pin {
  justify-content: center;
  background-color: #0266c1;

  @include vp-767 {
    grid-column: span 2;
    width: 55.5%;
    order: 1;
  }
}

.tours__list {
  margin: 0 0 5px 0;
  display: grid;
  grid-template-columns: 39% 40% 21%;

  @include vp-1199 {
    grid-template-columns: 37% 39% 24%;
  }

  @include vp-767 {
    grid-template-columns: 35% 40% 25%;
  }
}

.tours__list .complexity {
  justify-self: start;
}

.tours__list dt {
  color: $color-default-white;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  order: -1;
}

.tours__list dd {
  margin: 5px 0 0 0;
  color: $color-default-white;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;

  @include vp-767 {
    padding-top: 1px;
    font-size: 12px;
    line-height: 12px;
  }
}

.tours__rating {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 1px;

  @include vp-767 {
    gap: 0;
  }
}

.tours__toggle {
  position: absolute;
  top: 55px;

  @include vp-1199 {
    top: 10px;
  }

  @include vp-767 {
    top: 17px;
  }
}

.tours-toggle-prev {
  right: 41px;

  @include vp-767 {
    right: 42px;
  }
}

.tours-toggle-next {
  right: 0;
}

.tours__wrapper a {
  max-width: 230px;
  padding: 5px 25px 5px 5px;
  margin: 49px auto 0;
  display: block;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  position: relative;
  outline: none;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: #1c3374;
  }

  &:active:not(:disabled) {
    color: $navy-blue;
  }

  &:disabled:not(:focus) {
    color: rgba(2, 102, 193, 0.1);
  }

  @include vp-1199 {
    margin: 48px auto 0;
  }

  @include vp-767 {
    margin-top: 23px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    max-width: 208px;
  }
}

.tours__wrapper a svg {
  position: absolute;
  top: 4px;
  right: 5px;
}

.tours__background-left {
  position: absolute;
  left: -400px;
  top: 360px;
  z-index: -1;

  @include vp-1199 {
    display: none;
  }
}

.tours__background-right {
  position: absolute;
  top: -20px;
  right: -840px;
  z-index: -1;

  @include vp-1199 {
    top: -96px;
    right: -905px;
  }

  @include vp-767 {
    top: 135px;
    right: -595px;
  }
}

.tours__background-right img {
  @include vp-1199 {
    width: 1200px;
    height: 1366px;
  }

  @include vp-767 {
    width: 768px;
    height: 595px;
  }
}
